server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: password
    key-store-type: PKCS12
    key-alias: javaespecialista
  http2:
    enabled: true
  shutdown: graceful

spring:
  application:
    name: javaEspecialista
  docker:
    compose:
      file: javaEspecialista/compose.yaml
      lifecycle-management: start-only
  lifecycle:
    timeout-per-shutdown-phase: 10s
  
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:card_registry}?useSSL=false&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASSWORD:secret}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: HikariCP
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 2000
  
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    enabled: true
  
  threads:
    virtual:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
    metrics:
      enabled: true
    prometheus:
      enabled: true

  metrics:
    enabled: true
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
  prometheus:
    enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method

logging:
  level:
    root: INFO
    com.hyperativa.javaEspecialista: DEBUG
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  pattern:
    console: '{"time": "%d{yyyy-MM-dd HH:mm:ss.SSS}", "level": "%-5p", "thread": "%t", "logger": "%c", "msg": "%m"}%n'

# Security Custom Configuration
app:
  security:
    encryption-key: ${ENCRYPTION_KEY_LOCAL:Idjmrb4enDwKwTGIchH7eMA2UDA4xU+0BpuMI6q2mXc=} # Changing env var name to avoid local pollution
    hash-key: ${HASH_KEY_LOCAL:vI76tPhHQLtbMKIMTdZKchvMNReo64QX8UwmhWdm3bI=}             # Changing env var name to avoid local pollution
    token-issuer: https://auth.hyperativa.com.br
    token-audience: card-registry-api

jwt:
  public:
    key: ${JWT_PUBLIC_KEY:classpath:public.pem}
  private:
    key: ${JWT_PRIVATE_KEY:classpath:private.pem}
  expiration-seconds: 3600
